.socials {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;


  &__item {
    display: inline-block;


    a {
      display: inline-flex;
      transition: opacity 0.2s ease;


      &:hover {
        filter: brightness(1.4);
      }
    }
  }

  &__icon {
    color: var(--color-btn-primary);
    transition: color 0.3s ease;
  }


}