@use "../../../styles/mixins"as *;
@use "../../../styles/variables"as *;


.button {
  @include flex-center;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  max-height: 40px;
  width: 100%;
}

.button.primary {
  background: var(--color-btn-primary);
  color: var(--color-btn-primary-text);

  &:hover,
  &:active {
    background: var(--color-btn-primary-hov);
  }
}

.button.secondary {
  background: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);

  &:hover,
  &:active {
    background-color: var(--color-btn-secondary-hov);
  }
}


.button.small {
  font-size: 14px;
  padding: 15px 10px;
}

.button.large {
  font-size: 20px;
  padding: 20px 30px;
  max-height: 70px;
}


.button.reg_btn {
  @extend .button;
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);

  &:hover,
  &:active {
    background-color: var(--color-btn-secondary-hov);
  }
}

.button.remove {
  @extend .button;
  background-color: var(--color-btn-danger);
  color: var(--color-btn-danger-text);

  &:hover,
  &:active {
    background-color: var(--color-btn-danger-hov);
  }
}