@use "../../../styles/mixins"as *;
@use "../../../styles/variables"as *;


.button {
  @include flex-center;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  max-height: 40px;
  width: 100%;
}

.button.primary {
  background: $primary-color;
  color: #fff;

  &:hover,
  &:active {
    background: $primary-color-hov;
  }
}

.button.secondary {
  background: $secondary-color;
  color: #fff;

  &:hover,
  &:active {
    background: $secondary-color-hov;
  }
}


.button.small {
  font-size: 14px;
  padding: 15px 10px;
}

.button.large {
  font-size: 20px;
  padding: 20px 30px;
  max-height: 70px;
}


.button.reg_btn {
  @extend .button;
  background-color: #1c9407;
  color: #fff;

  &:hover,
  &:active {
    background-color: #197209;
  }
}

.button.remove {
  @extend .button;
  background-color: #c2092b;
  color: #fff;

  &:hover,
  &:active {
    background-color: #890820;
  }
}