  .schedule__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1.2rem;
  }

  // Карточка мастера 
  .schedule_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    transition: all 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: rgb(from var(--color-secondary) r g b / 0.1);
      transform: translateY(-3px);
    }

    .schedule_card__avatar {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 0.8rem;
      border: 2px solid #ccc;
    }

    .schedule_card__title {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .schedule_card__info {
      font-size: 0.85rem;
      color: #666;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .schedule_card__time_slots {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
      justify-content: center;
    }

    .schedule_card__time_slot {
      padding: 0.4rem 0.8rem;
      border-radius: 6px;
      border: 1px solid #bbb;
      background: #fff;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: rgb(from var(--color-secondary) r g b / 0.03);
        border-color: rgb(from var(--color-secondary) r g b / 0.8);
      }
    }

    .schedule_card__selected_slot {
      background-color: var(--color-secondary);
      color: white;
      border-color: var(--color-secondary);
      font-weight: 600;

      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }