@use "../../styles/mixins"as *;
@use "../../styles/variables"as *;


.button {
  @include flex-center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  max-height: 40px;
  width: 100%;
  max-width: 210px;
}

.button.primary {
  background: $primary-color;
  color: #fff;

  &:hover,
  &:active {
    background: $primary-color-hov;
  }
}

.button.secondary {
  background: $secondary-color;
  color: #fff;

  &:hover,
  &:active {
    background: $secondary-color-hov;
  }
}


.button.small {
  font-size: 14px;
  padding: 15px 10px;
}

.button.large {
  font-size: 20px;
  padding: 20px 30px;
  max-height: 70px;
}


.button.reg_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c9407;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {
    background-color: #197209;
  }
}