.company__header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.company__header a {
  font-size: 20px;
  color: #000;
}

.company__header a[aria-current="page"] {
  position: relative;
  color: #000;
  /* например, активный цвет текста */
}

.company__header a[aria-current="page"]::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  /* или фиксированный цвет */
  border-radius: 2px;
}