.cart {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: var(--main-bg);
  box-shadow: 0 4px 16px var(--color-card-shadow);

  h1 {
    font-size: 34px;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
  }
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.cart__item {
  display: flex;
  gap: 30px;
  padding: 16px 20px;
  background: var(--color-card-bg);
  color: var(--color-card-text);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--color-card-shadow);
  transition: all 0.3s ease-in-out;


  &:hover {
    transform: translate(0, -5px);
    box-shadow: 0 4px 8px var(--color-card-shadow-hov);
  }
}

.cart__left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart__left img {
  max-width: 200px;
}

.cart__center {
  max-width: 50%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}


.cart__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.cart__title {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-card-heading);
}

.cart__description {
  margin-top: 10px;
  font-size: 20px;
}

.cart__price {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.cart__price span {
  font-weight: 600;
}

.cart__quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.cart__quantity_action {
  display: flex;
  gap: 10px;
}

.cart__quantity_action button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d7d7;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #cac8c8;
  }
}


.cart__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}


.cart__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 25px;
}

.cart__actions button {
  font-size: 20px !important;
}

.cart__summary {
  border-top: 1px solid #848181;
  padding-top: 24px;

  & p {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 12px;
  }
}

.cart__summary_btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cart__summary_btn div a {
  font-size: 22px !important;
  padding: 15px 20px !important;
}


@media screen and (max-width: 920px) {
  .cart__center {
    max-width: 70%;
  }

  .cart__left img {
    width: 100px;
  }
}


@media screen and (max-width: 768px) {

  .cart__title {
    font-size: 24px;
  }

  .cart__description {
    font-size: 18px;
  }

  .cart__price {
    font-size: 18px;
  }

  .cart__actions button {
    font-size: 16px !important;
    padding: 8px 15px !important;
  }

  .cart__actions a {
    font-size: 16px !important;
    padding: 8px 15px !important;
  }
}

@media screen and (max-width: 525px) {

  .cart__item {
    flex-direction: column;
  }

  .cart__left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cart__left img {
    max-width: 300px;
    width: 100%;
  }

  .cart__center {
    width: 100%;
    max-width: 500px;
    align-items: center;
  }


  .cart__description {
    text-align: center;
  }

  .cart__summary {

    & p {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .cart__summary_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .cart__summary_btn div a {
    font-size: 22px !important;
    padding: 15px 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .cart__summary {

    & p {
      font-size: 18px;
    }
  }
}