.greetings {
    margin-bottom: 15px;
    font-size: 20px;
}


.user_name {
    color: #710794;
    font-size: 16px;
    font-weight: 700;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img_container img {
    max-width: 300px;
}