.home_greetings {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}


.home_user_name {
    color: #710794;
    font-size: 16px;
    font-weight: 700;
}

.home_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home_img_container img {
    max-width: 300px;
}

.home_btn {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.home_btn button {
    max-width: 300px !important;
}




.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f0efef;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inputGroup {
    margin-bottom: 15px;

    label {
        width: 100%;
        display: block;
        font-size: 14px;
        color: #000;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 8px;
        border: 1px solid #000;
        border-radius: 4px;
        background: transparent;
        color: #000;
        font-size: 16px;

        &:focus {
            outline: none;
            border-color: #b41de6;
        }
    }
}

.formButton {
    width: 100%;
    display: flex;
    justify-content: center;
}