.modal_overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--modal-overlay);
    z-index: 50;
    transition: opacity 0.3s;
}

.modal_content {
    position: relative;
    background: var(--modal-bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--modal-shadow);
    min-width: 300px;
    max-width: 90%;
    transform: translateY(-50px);
    transition: opacity 0.3s, transform 0.3s;
}

.modal_close_button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--modal-close-btn);

    &:hover {
        color: var(--modal-close-btn-hov);
    }
}

.modal_title {
    margin-bottom: 20px;
    text-align: center;
}

.modal-text {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}