  .date__picker {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 20px;

    .date__label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    .date__input {
      padding: 0.6rem 1rem;
      margin-left: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      width: 220px;
      font-size: 0.95rem;


      &:focus {
        outline: none;
        border-color: var(--color-secondary);
      }
    }

    .no_times,
    .no_masters {
      color: #999;
      font-size: 0.9rem;
    }
  }