.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

/* ----- MOBILE ADAPTATION ----- */

@media (max-width: 768px) {
  .root {
    gap: 10px;
  }

  .title {
    font-size: 16px;
  }
}