.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

@media screen and (max-width: 525px) {
  .page {
    padding: 5px;
  }
}