@use "./styles/mixins"as *;
@use "./styles/variables"as *;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}


body {
  background: var(--main-bg);
  color: var(--color-text);
  font-size: 16px;
  overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.2s ease;
}

input {
  width: 100%;
  display: block;
}

section {
  margin: 15px 0;
  border-radius: 32px;
}