.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: rgb(from var(--color-secondary) r g b / 0.1);
    transform: translateY(-3px);
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &__slots {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
  }

  &__slot {
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    border: 1px solid #bbb;
    background: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(from var(--color-secondary) r g b / 0.03);
      border-color: rgb(from var(--color-secondary) r g b / 0.8);
    }
  }

  &__slot_selected {
    background-color: var(--color-secondary);
    color: white;
    border-color: var(--color-secondary);
    font-weight: 600;

    &:hover {
      background-color: var(--color-secondary);
    }
  }
}